<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ecom.e.com.project.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.ecom.e.com.project.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductOperationServlet</servlet-name>
        <servlet-class>com.ecom.e.com.project.servlets.ProductOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>com.ecom.e.com.project.servlets.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCreation</servlet-name>
        <servlet-class>com.ecom.e.com.project.servlets.OrderCreation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrder</servlet-name>
        <servlet-class>com.ecom.e.com.project.servlets.CreateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentStatus</servlet-name>
        <servlet-class>com.ecom.e.com.project.servlets.UpdatePaymentStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductOperationServlet</servlet-name>
        <url-pattern>/ProductOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrder</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentStatus</servlet-name>
        <url-pattern>/UpdatePaymentStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
